html, body {
  height: 100%;
  background-color: #3c415e;
  margin: 0;
}

#root {
  height: 100%;
}

#master {
  height: 75%;
  vertical-align: baseline;
  padding-top: 10%;
  border-radius: 5px;
  border: 2px white ridge;
  width: 100%;
}

.heading {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.holder {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

button {
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.btn-blue {
  background: rgb(34, 193, 195);
  color: black;
}

.btn-orange {
  background: rgb(221, 112, 18);
  color: black;
}

.btn-green {
  background: rgb(44, 209, 88);
  color: black;
}

#children-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
