
/* .box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid #ccc;
  display: inline-block;
  transition: background 0.3s ease-in-out;
} */


.fix-box {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid #000;
}
